#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}



:root {
	--theme-toggle-width: 5rem;
	--theme-toggle-height: 2.5rem;
	--theme-toggle-circle-width: 0;
	--theme-toggle-circle-dimensions: calc(var(--theme-toggle-height) - 0.5rem);
}

body {
	display: grid;
	place-items: center;
	height: 100vh;
	min-height: 10rem;
	background-color: #fff;
	transition: background-color 0.5s;
}

.dark-body {
	background-color: #111;
}

.theme-toggle {
	-webkit-appearance: none;
	outline: none;
	cursor: pointer;
	height: var(--theme-toggle-height);
	width: var(--theme-toggle-width);
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	border: 1px solid #ddd;
	position: relative;
	border-radius: var(--theme-toggle-circle-dimensions);
	padding: 0.2rem;
	background-color: #fff;
	transition: background-color 0.5s;

	&:before {
		content: "";
		width: var(--theme-toggle-circle-dimensions);
		height: var(--theme-toggle-circle-dimensions);
		background-color: #007bff;
		position: absolute;
		border-radius: 50%;
		top: 50%;
		transform: translateY(-50%) translateX(0%);
		transition: transform 0.5s;
	}

	&:after {
		content: "Light mode";
		white-space: nowrap;
		color: #111;
		position: absolute;
		left: calc(100% + 1.5rem);
		font-size: 1.3rem;
		top: 50%;
		transform: translateY(-50%);
		pointer-events: none;
	}
}

.theme-toggle:checked {
	background-color: #007bff;
	border: none;

	&:before {
		background-color: #fff;
		transform: translateY(-50%)
			translateX(calc(var(--theme-toggle-width) - var(--theme-toggle-height)));
	}

	&:after {
		content: "Dark mode";
		color: #fff;
	}
}
